:root{
    --main-color:   rgb(6, 57, 108);
}

*{
    font-family: 'Electrolize', sans-serif;
}

.tc-main{
    color: var(--main-color);
}

.tc-gray{
    color: #6c757d;
}

/* css masthead */
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('./img/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-image {
    background-color: rgba(6, 57, 108, 0.623) ;
}

.font-header{
    font-size: 80px;
}

/* css NavBar */

.Nav-blu{
    background-color: var(--main-color);
}

.Nav-blu  a{
color: white;
}

.Nav-blu  a:hover{
    color: white;
}

.nav-img{
width: 50px;
}

.Nav-blu  a:focus{
    color: white;
}

.white-line::before{
    content: '';
    border-left: solid 1px;
    position: absolute;
    top: 20px;
    width: 1px;
    height: 15px;
    color: white;
}

.navbar-toggler{
    color: white !important;
    border: solid 1px white !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

@media screen and (max-width: 992px) {
    .white-line::before{
        content: '';
        border-left: solid 0px;
        position: absolute;
        top: 0px;
        width: 0px;
        height: 0px;
        color: white;
    }

    .Nav-blu img{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .Nav-blu a{
        margin-left: 0px !important; 
        margin-right: 0px !important; 
    }
}

/* css Megalorem */

.font-mega{
    
 font-size: calc(2rem + 3vw);
    
}

.card-mega{
    padding: 30px 40px;
    text-align: left;
    position: relative;
    height: 30%;
    margin-bottom: 30px;
}

.card-mega-footer{
    padding: 30px 40px;
}

.card-mega-quote{
    font-size: 45px;
    color: var(--main-color);
    position: absolute;
    top: 0px;
    left: 0px;
}

/* css Power Lorem */

.power-bg{
    background-image: url(./img/power-plant-4712830_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-power-1{
    background-color: var(--main-color);
    color: white;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 100px;
    border: solid 5px white;
    position: absolute;
    top: -70px;
    left: 70px;
}

.card-power-2{
    background-color: white;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 100px;
    position: relative;
    left: -40px;
}

@media screen and (max-width: 991px) {
    .card-power-1{
        background-color: var(--main-color);
        color: white;
        padding-top: 50px;
        padding-left: 40px;
        padding-right: 100px;
        position: relative !important;
        top: 0px !important;
        left: 0px !important;
    }

    .card-power-2{
        background-color: white;
        padding-top: 50px;
        padding-left: 40px;
        padding-right: 0px;
        position: relative !important;
    }

    .card-power-2 p{
        padding-top: 10px !important;
        margin-top: 10px !important;
    }
}

/* css description */

.info-btn{
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 10px 40px;
    border: solid 1px transparent;
}

.info-btn:hover{
    border: solid 1px var(--main-color);
    background-color: white;
    color: var(--main-color);
    transition: 0.5s;
    padding: 10px 40px;
}

/* css Adipisicing elit */

.usa-img{
    position: relative;
    top: 150px;
    margin-bottom: 80px;
}

@media screen and (max-width: 767px){

    .usa-img{
        position: relative;
        top: 20px;
        margin-bottom: 0px !important;
    }
}

.link-card{
    color: white;
    text-decoration: none;
}
.card-index i:hover{
    rotate: 360deg;
    transition: 1s;
    transform: scale(1.2);
}

.card-california{
    background-image: url(./img/pc-bar-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px 15px;
    padding-bottom: 50px;
}
.card-california::before{
    position: absolute;
    display: flex;
    top: -20px;
    left: -10px;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #06396c3b 30%, #ffffff00 48%);
}

.card-nevada{
    background-image: url(./img/cielo-nuvole.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px 15px;
    padding-bottom: 50px;
}
.card-nevada::before{
    position: absolute;
    display: flex;
    top: -20px;
    left: -10px;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #06396c3b 30%, #ffffff00 48%);
}

.card-albany{
    background-color: rgba(6, 57, 108, 0.808);
    color: white;
    padding: 20px 15px;
    padding-bottom: 50px;
}
.card-albany::before{
    position: absolute;
    display: flex;
    top: -20px;
    left: -10px;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #06396c3b 30%, #ffffff00 48%);
}

.card-texas{
    background-image: url(./img/montagne.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px 15px;
    padding-bottom: 50px;
}

.card-texas::before{
    position: absolute;
    display: flex;
    top: -20px;
    left: -10px;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #06396c3b 30%, #ffffff00 48%);
}
.card-index{
    z-index: 1020;
    position: relative;
}

/* css Some Stuff */
.stuff-bg{
    background-color: var(--main-color);
}

.font-stuff{
    font-size: 50px;
}

.font-ico {
    font-size: 60px;
}
.stuff-position{
    position: relative;
    top: -140px;
}

.card-sun{
    background-image: url(./img/sun.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.card-wind{
    background-image: url(./img/wind.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.card-wave{
    background-image: url(./img/wave.png);
    background-repeat: no-repeat;
    background-size: cover;
}.card-gas{
    background-image: url(./img/gas.png);
    background-repeat: no-repeat;
    background-size: cover;
}.card-oil{
    background-image: url(./img/oil.png);
    background-repeat: no-repeat;
    background-size: cover;
}.card-atom{
    background-image: url(./img/nuclear.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* download css */
.icon-border{
    border: solid 3px;
    color: #6c757d;
    padding: 10px 15px;
    border-radius: 10px;
}
.download-card{
    background-color: white;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15);
}

/* description css */
.progress{
    border-radius: 0px !important;
    background-color: white !important;
}
.progress-bar{
    background-color: var(--main-color) !important;
    height: 10px;
}

/* footer css */
.bg-footer{
    background-color: black;
}

.footer-img{
    width: 70px;
}

.footer-card{
    background-color: var(--main-color);
    padding: 40px 0px;
    position: relative;
    top: -100px;
    left: -30px;
}

.footer-card a{
    color: white;
}

@media screen and (max-width: 991px) {
    .col-order{
        order: -1 !important;
    }

    .footer-card{
        background-color: var(--main-color);
        padding: 40px 0px;
        position: relative;
        top: 10px;
        left: 0px;
    }
}